body {
    background-color: rgba(24, 30, 87, 0.979);
}

div {
    text-align: left;
    background-color: rgba(24, 30, 87, 0.979);
    border-color: white;
    border-style: solid;
    border-width: 1%
}

h1 {
    color: white;
}

p {
    text-align: left;
    color: white;
}

p.tweet {
    color: gray;
    margin-bottom: 0;
}

p.tweetmessage {
    margin-top: 0;
}


